@import "tailwindcss";
body {
  box-sizing: border-box;
}
*::placeholder {
  color: gray;
  margin-left: 10px;
}

@layer base {
  @media (width <= 400px) {
    html {
      font-size: 80%;
    }
  }
}
@media (max-width<= 400px) {
  /* Reduce all rem-based sizes by ~12.5% (from 16px to 14px) */
  @layer base {
    html {
      font-size: 47.5%;
    }
  }
}

.navLink {
  @apply cursor-pointer bg-violet-200 p-2 rounded-xl text-left w-full;
}
.title {
  @apply font-bold text-center uppercase my-3 mx-auto;
}
.container {
  @apply max-w-10/12 my-2 mx-auto p-2 rounded-xl;
}
.Input {
  @apply bg-white border-white border-2 p-1 text-black w-96/12;
}
.viewUnderWahalaSummary {
  @apply border w-fit mx-auto p-2 rounded-2xl hover:bg-gray-600 hover:text-white;
}
